$main-color: #fff;
$select-color: #c7b29a;
$select-color-button: #a48d72;
$main-color-header: #555;
$main-color-p: #8c8c8c;
$main-banner-p: #615855;
$background-color: #fbfaf8;
$select-post-color: #362f2d;
$background-footer-color: #191919;
$footer-color-p: #545454;
$background-copyright-color: #111111;
$background-button-color: #998675;
$color-projects-p: #d1d1d1;